<!--
title: Steam ID 转换工具
date: 2022-04-06
tags: [steam,在线工具,我的软件]
-->
<p><i>本作品已经归档，不会更新的。</i> </p>
<p>
    本工具是用来转换各种 Steam 数字 ID 的格式的，本身只是数学上的区别。
    <br>
    此处是纯 Client Javascript 实现，无需使用联网API，使用了 <a
        href="https://developer.mozilla.org/zh-CN/docs/Web/JavaScript/Reference/Global_Objects/BigInt"
        target="_blank">BigInt</a> 来计算64位大数字，尽管如此但其实还是很头疼。
    <br>
    本工具源码： <a target="_blank" href="https://gitlab.com/4559392/blog/tree/master/posts/2022/steamidconvert">gitlab</a>
    <br>
    本工具不仅适用于 Steam 个人用户，还适用于 Steam 组的 ID 。
    <br><br>
    从玩家自定义链接获取 id64 的快捷办法：在链接的末尾加上 <code>?xml=1</code> ，比如 <a href="https://steamcommunity.com/id/chenbuyi/?xml=1"
        target="_blank">我的</a>
    <br>
    从 Steam 组获取 id64 的快捷办法：在链接的末尾加上 <code>/memberslistxml/?xml=1</code> ，比如 <a
        href="https://steamcommunity.com/groups/CrowbarTool/memberslistxml/?xml=1" target="_blank">Crowbar 组</a>
    <br><br>
    关于 Steam ID 机制的参考阅读：<a href="https://developer.valvesoftware.com/wiki/SteamID:zh-cn" target="_blank">点我</a>
</p>
<div>
    <label>输入的id类型：</label>
    <select id="selInputIdType">
        <option value="id64">id64（7656...）</option>
        <option value="id32">id32（STEAM_1:0:6789）</option>
        <option value="id3">id3（U:1:6789）</option>
        <option value="id3num">好友代码</option>
        <option value="id3numgroup">群组代码</option>
    </select>
    <br>
    <label>输出的id类型：</label>
    <select id="selOutputIdType">
        <option value="id64p">适合excel,csv的id64（'7656...）</option>
        <option value="id64">数字id64（7656...）</option>
        <option value="id32">id32（STEAM_1:0:6789）</option>
        <option value="id3">id3（U:1:6789）</option>
        <option value="id3num">好友\群组代码</option>
    </select>
    <br>
    <button id="butConvert">转换</button>
</div>
<p>
    <br>
    在下方输入要转换的 id，一行一个，可以有一些普通的干扰，我会自动提取行内的数字。
    <br>
</p>
<textarea style="resize: none; width: 70%;height: 300px;display: block;" id="txtInput"></textarea>
<script src="/js/steamidconvert.js"></script>