<!--
title: 我的垃圾脚本集
date: 2022-03-25
tags: [我的软件]
-->
<p>
    我把自己写的一些零散的 Userscript 整合成了一个脚本。
    <br>
    我更推荐 <a href="https://violentmonkey.github.io/">Violentmonkey</a> ，因为它是开源软件，完全兼容 Tampermoney 。 Tampermoney 在 github 开源的版本已经是四年之前的版本。  
    <br>
    就单纯是给自己用的，没指望有人来用，都是些垃圾（
    <br>
    <br>
    目前有的功能：
<ul>
    <li>推特用户数字固定 id 提取</li>
    <li>微博 h5 与 PC 版链接互换</li>
    <li>Steam 好友列表导出为文本</li>
    <li>从QQ邮箱的页面导出好友列表为文本（只支持一个分组一个分组地导出）</li>
</ul>
<a href="https://gitlab.com/4559392/blog/raw/master/posts/2022/trashscripts/trash.user.js" target="_blank">点我安装</a>
<br>
<a href="https://gitlab.com/4559392/blog/tree/master/posts/2022/trashscripts" target="_blank">查看源码</a>
</p>
<img src="https://s1.ax1x.com/2022/04/30/OpGhAH.png">