<?xml version="1.0" encoding="utf-8"?>
<feed xmlns="http://www.w3.org/2005/Atom">
    <title>陈布衣的博客</title>
    <id>https://buyi.dev/</id>
    <updated>{{with index . 0}}{{.Date.Format "2006-01-02T15:04:05Z07:00" | html}}{{end}}</updated>
    <link rel="self" href="https://buyi.dev/atom.xml" />
    <author><name>Chen Buyi</name></author>
    {{range .}}<entry>
        <id>https://buyi.dev/{{.Filetitle | urlquery}}</id>
        <title>{{.Title | html}}</title>
        <updated>{{.Date.Format "2006-01-02T15:04:05Z07:00" | html}}</updated>
        <link rel="alternate" href="https://buyi.dev/{{.Filetitle | urlquery}}" />
    </entry>{{end}}
</feed>