{{range .}}<div class="articleBox" data-tags="{{range .Tags}},{{.|html}},{{end}}">
    <h2><a href='/{{.Filetitle | urlquery}}'>{{.Title | html}}</a></h2>
    <time datetime='{{.Date.Format "2006-01-02T15:04:05Z07:00" | html}}'>{{.Date.Format "2006 年 01 月 02 日"
        |html}}</time>
    <div class="articleTags">{{range .Tags}}<a href="/#{{.|urlquery}}">#{{.|html}}</a>{{end}}</div>
</div>{{end}}