<div class="articleFull">
    <h1 class="articleTitle"><a href='/{{.Filetitle | urlquery}}'>{{.Title | html}}</a></h1>
    <time class="articleTime" datetime='{{.Date.Format "2006-01-02T15:04:05Z07:00"|html}}'>
        {{.Date.Format "2006 年 01 月 02 日" |html}}</time>
    <div class="articleContent">{{.HTMLContent}}</div>
    <hr class="articleEndLine">
    <div class="articleTags">{{range .Tags}}<a href="/#{{.|urlquery}}">#{{.|html}}</a>{{end}}</div>
</div>