<!DOCTYPE html>
<html lang="zh">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/main.css">
    <link rel="icon" href="/favicon.ico" />
    <link rel="alternate" href="/atom.xml" type="application/atom+xml" title="陈布衣的博客" />
    <meta name="author" content="Chen Buyi" />
    <title>{{.Title | html}}陈布衣的博客</title>
    <script> "其实，为什么要来看我的博客呢？我只不过是个超级大弱智。 恶心人的那种。" </script>
</head>

<body>
    <header>
        <div id="headerCenter">
            <a id="topTitle" href="/">陈布衣的博客</a>
            <br>
            <a href="/rsss">RSS</a>
            <a href="/search">搜索</a>
            <a href="/about">关于</a>
            <a target="_blank"
                href="https://docs.google.com/forms/d/e/1FAIpQLSfMsyyOhAAKQkMe8Lx9FIxaMBKsjnBWv89Mlmj0utfWwPKFWg/viewform">匿名留言</a>
            <br>
            <a target="_blank" href="https://www.0xaa55.com/">技术宅的结界</a>
            <a target="_blank" href="https://blog.853lab.com/">Sonic853</a>
            <a target="_blank" href="https://blog.acesheep.com/">AceSheep</a>
            <a target="_blank" href="https://baka.studio/">大叫晴</a>
            <a target="_blank" href="https://feibam.club/">飞竹</a>
        </div>
    </header>
    <main>
        {{.Body}}
    </main>
    <script src="/main.js"></script>
</body>

</html>