<!--
title: 搜索本博客
date: 2010-01-06
tags: [我自己]
-->
<p>
    在下面输入你想要搜索的内容，然后选一个搜索引擎：
</p>
<input type="text" id="inputsearch" style="width: 300px">
<div id="searchOptions"></div>

<a href="https://gitlab.com/4559392/blog" target="_blank">查看本站源码</a>
<script src="/js/search.js"></script>