/* 颜色 */
:root {
    --themeColor: #3a75b0;
    --themeColor2: #006B8F;
}

/* top 部分 */
@supports (display: grid) {
    body {
        padding: 0px;
        margin: 0px;
        background-color: white;
        color: #222;
        font-family: sans-serif;
    }

    a {
        text-decoration: none;
        color: var(--themeColor2);
    }

    a:hover {
        text-decoration: underline;
    }

    main,
    #headerCenter {
        max-width: 950px;
        margin: 0px auto;
        padding: 9px;
    }

    header {
        background: var(--themeColor);
        line-height: 120%;
        font-size: large;
    }

    header a {
        margin-right: 15px;
        font-weight: bold;
        display: inline-block;
        color: white;
        text-decoration: none;
        transition-duration: 0.15s;
    }

}

/* index 的 article Box */
@supports (display: grid) {
    .articleBox {
        margin: 15px 0px;
    }

    .articleBox h2 {
        font-size: larger;
        margin: 0px;
    }

    .articleBox h2 a {
        color: #222;
    }

    .articleBox time {
        font-size: small;
        margin-right: 10px;
    }
}

/* tag 的样式 */
@supports(display: grid) {
    .articleTags {
        display: inline-block;
    }

    .articleTags a {
        color: #006B8F;
        margin-right: 10px;
        font-size: smaller;
    }
}

/* 文章正文页面 */
@supports(display: grid) {
    .articleTitle {
        font-size: x-large;
        margin: 0px;
    }

    .articleTitle a {
        color: #222;
    }

    .articleTime {
        font-size: small;
    }

    .articleEndLine {
        opacity: 0.7;
    }
}

/* 文章正文内容 */
@supports(display: grid) {

    .articleContent h1,
    .articleContent h2,
    .articleContent h3,
    .articleContent h4,
    .articleContent h5,
    .articleContent h6 {
        margin: 18px 0px 1px 0px;
        font-size: large;
        color: black;
        padding-left: 5px;
    }

    .articleContent p {
        margin: 0.7em 0px;
    }

    .articleContent hr {
        width: 85%;
        border-color: white;
        border-top: 3px dotted;
        border-bottom: 0px;
        border-left: 0px;
        border-right: 0px;
    }

    .articleContent img {
        display: block;
        max-width: 85%;
        margin: 3px auto;
        border: 1px solid black;
    }

    .articleContent td,
    .articleContent table {
        border: 1px solid black;
        border-spacing: 0px;
    }

    .articleContent table {
        display: table;
        max-width: 98%;
        overflow: auto;
        text-align: center;
    }

    .articleContent td {
        padding: 5px;
        overflow: inherit;
        text-align: inherit;
    }

    .articleContent pre,
    .articleContent code {
        font-family: monospace;
        overflow-x: auto;
        margin: 0px;
    }

    .articleContent input,
    .articleContent textarea {
        font-family: inherit;
    }

    .articleContent button {
        padding: 3px 6px;
    }

    .articleContent b,
    .articleContent strong {
        color: black;
    }

    .articleContent ul {
        margin: 3px 0px;
    }

    .articleContent blockquote {
        border-left: 5px solid #0048ab;
        margin-left: 8px;
        padding-left: 6px;
        background-color: rgb(226, 247, 255);
    }
}

/* 代码复制、折叠 */
@supports(display: grid) {
    .codeBefore {
        margin-top: 10px;
    }

    .codeBefore button {
        margin-right: 10px;
        font-size: small;
        padding: 0px 5px;
    }

    .codeBefore code {
        font-size: small;
        font-family: monospace;
    }
}

/* highlightjs 主题 https://github.com/highlightjs/highlight.js/blob/main/src/styles/mono-blue.css */
@supports(display: grid) {
    .hljs {
        background: #eaeef3;
        color: #00193a;
    }

    .hljs-keyword,
    .hljs-selector-tag,
    .hljs-title,
    .hljs-section,
    .hljs-doctag,
    .hljs-name,
    .hljs-strong {
        font-weight: bold;
    }

    .hljs-comment {
        color: #738191;
    }

    .hljs-string,
    .hljs-title,
    .hljs-section,
    .hljs-built_in,
    .hljs-literal,
    .hljs-type,
    .hljs-addition,
    .hljs-tag,
    .hljs-quote,
    .hljs-name,
    .hljs-selector-id,
    .hljs-selector-class {
        color: #0048ab;
    }

    .hljs-meta,
    .hljs-subst,
    .hljs-symbol,
    .hljs-regexp,
    .hljs-attribute,
    .hljs-deletion,
    .hljs-variable,
    .hljs-template-variable,
    .hljs-link,
    .hljs-bullet {
        color: #4c81c9;
    }

    .hljs-emphasis {
        font-style: italic;
    }
}